.square{
    position: center;
    text-align: left;
    text-decoration-color: rgb(26, 27, 27);
    width: 1400px;
    height: 625px;
    margin-bottom: 10vh;
    display: inline-block;
    margin-left: 8vh;
    background-image: linear-gradient(to right, rgb(210, 209, 214) , rgb(0, 162, 255));
    border-width: thick;
    color: aliceblue;
    border: 1px solid black;
}