
.div-parent-lg{
    height: 250px;
    background-color: #3F51D4;
}

.div-parent-md{
    height: 200px;
    background-color: #3F51D4;
}

.pull-right{
    float: right !important;
  }

  .pull-left{
    float: left !important;
  }

  @media only screen and (max-width: 1440px) {
    .div-parent-lg{
        height: 190px;
        background-color: #3F51D4;
    }
  }

