<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="../../resources/favicon-train.ico" />
        <title>BOOkit-Header(For only Testing perpose)</title>
    
        <link rel="stylesheet" type="text/css" href="../../fontawesome/css/all.css">
        <link rel="stylesheet" href="../../fontawesome/css/fontawesome.min.css">
    
        <link rel="stylesheet" type="text/css" href="../../Style/style-custom.css">
        <link rel="stylesheet" type="text/css" href="../../Style/style-custom-nav.css">

        <script src="../../Script/Header.js"></script>
    
    </head>
    <body>
    <div class="div-parent-md">
        <div class="navbar-T">
            <a href="Home.html" class="nav-logo-text"><i class="fas fa-subway"></i>&nbsp BOOKit</a>

            <div class="dropdown-T pull-right-T nav-user-space">
                <button class="dropbtn"><i class="fas fa-user"></i>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="login.html">Sign In</a>
                    <a href="userAccount.html">My Account</a>
                    
                </div>
            </div>
            <a href="#news" class="pull-right-T font-Sego nav-item-font support-logo nav-space"></a>
            <a href="contactUs.html" class="pull-right-T font-Sego nav-item-font nav-space">CONTACT US</a>
            <a href="aboutUs.html" class="pull-right-T font-Sego nav-item-font nav-space">ABOUT US</a>
            
        </div>
        
        <div class="navbar-T navbar-child-style">
                <div class="dropdown-T pull-left-T nav-child-space">
                        <!--First item-->
                        <button class="dropbtn nav-child-color" onclick="redirectToTrainDetails()"><i class="fas fa-train"></i>
                            <div onclick="redirectToTrainDetails()" class="custom-resize-font">Train Details</div>
                        </button>
                        <div class="dropdown-content font-Sego">
                            <a href="#">Seat Availability</a>
                            <a href="#">Running Status</a>
                            <a href="#">Fare calculator</a>
                        </div>

                        
                </div>

                <!--Second item-->
                <div class="dropdown-T pull-left-T nav-child-space">
                    
                    <button class="dropbtn nav-child-color" onclick="redirectToStations()"><i class="fas fa-warehouse"></i>
                        <div onclick="redirectToStations()" class="custom-resize-font">Stations</div>
                    </button>
                    <div class="dropdown-content font-Sego">
                        <a href="#">Live Station</a>
                        <a href="station.html">Station Detail</a>
                    </div>
                </div>

                 <!--Third item-->
                 <div class="dropdown-T pull-left-T nav-child-space">
                    
                        <button class="dropbtn nav-child-color"><i class="fas fa-briefcase"></i>
                            <div class="custom-resize-font">Tourism</div>
                        </button>
                        <div class="dropdown-content font-Sego">
                            <a href="pakage.html">Packages</a>
                            <a href="rules.html">Rules and Regulations</a>
                        </div>
                    </div>

                <!--forth item-->
                <div class="dropdown-T pull-left-T nav-child-space">
                    
                        <button class="dropbtn nav-child-color" onclick="redirectToSeason()"><i class="fas fa-credit-card"></i>
                            <div onclick="redirectToSeason()" class="custom-resize-font">Seasons</div>
                        </button>
                        <div class="dropdown-content font-Sego">
                            <a href="season.html">Seasons Tickets</a>
                            <a href="#">Seasons Fare calculator</a>
                        </div>
                </div>

                <!--fifth item-->
                <div class="dropdown-T pull-left-T nav-child-space">
                    
                        <button class="dropbtn nav-child-color"><i class="fas fa-calendar-alt"></i>
                            <div class="custom-resize-font ">Schedule</div>
                        </button>
                        <div class="dropdown-content font-Sego">
                            <a href="#">Train Schedule</a>
                            <a href="#">Train Running Calendar</a>
                        </div>
                </div>

                <!--sixth item-->
                <div class="dropdown-T pull-left-T nav-child-space">
                    
                        <button class="dropbtn nav-child-color"><i class="fas fa-cart-arrow-down"></i>
                            <div class="custom-resize-font">Cargo</div>
                        </button>
                        <div class="dropdown-content font-Sego">
                            <a href="#">Transporting Goods</a>
                            <a href="#">Space Availability</a>
                            <a href="#">Fare calculator</a>
                            <a href="#">Cargo Tracking</a>
                        </div>
                </div>

                
                
        </div>

    </div>

    <div style="height:100px">
        dsfds
    </div>

    <footer>
        <div class="container-custom" id="footer">
                <div class="row font-Sego">
                        <div class="column-T" >
                          <div class="footer-item">
                            <h3>FOLLOW US ON:</h2>
                            <a href="#" class="remove-underline footer-icon-size"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="remove-underline footer-icon-size"><i class="fab fa-google"></i></a>
                            <a href="#" class="remove-underline footer-icon-size"><i class="fab fa-twitter-square"></i></a>
                            <a href="#" class="remove-underline footer-icon-size"><i class="fab fa-linkedin"></i></a>
                          </div>
                        </div>
                        <div class="column-T" >
                          <div class="footer-item">
                            <h3>How To</h3>
                            <a href="#" class="remove-underline">Refund Rules</a> <br/>
                            <a href="#" class="remove-underline">Advertise with us</a> <br/>
                          </div>
                        </div>
                        <div class="column-T" >
                          <div class="footer-item">
                            <h3>Information</h3>
                            <a href="#" class="remove-underline">For Newly Migrated Agents</a> <br/>
                            <a href="#" class="remove-underline">About us</a> <br/>
                            <div class="copyright-align"> &copy; 2019 BOOKit </div>
                          </div>
                        </div>
                      </div>
        </div>
    </footer>
    
</body>
</html>