<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="../resources/favicon-train.ico" />

    <title>BOOkit-Payment</title>

    <!--Fontawesome-->
    <link rel="stylesheet" type="text/css" href="../../fontawesome/css/all.css" />
    <link rel="stylesheet" href="../../fontawesome/css/fontawesome.min.css" />

    <!--Navigation bar and footer-->
    <link rel="stylesheet" type="text/css" href="../../Style/style-custom.css" />
    <link rel="stylesheet" type="text/css" href="../../Style/style-custom-nav.css" />

    <script src="../../Script/jquery-3.3.1.min.js"></script>
    <script src="../../ExternalResources/MDB/js/popper.min.js"></script>

    <link href="../../ExternalResources/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="../../ExternalResources/bootstrap-4.3.1/js/bootstrap.min.js"></script>

    <link href="../../ExternalResources/MDB/css/mdb.min.css" rel="stylesheet">

    <link href="../../Style/style-custom-nav.css" rel="stylesheet">
    <link href="../../Style/style-custom.css" rel="stylesheet">


    <style>
        .navbar-brand {
            display: inline-block;
            padding-top: .3125rem;
            padding-bottom: .3125rem;
            margin-right: 1rem;
            font-size: 2.25em;
            line-height: inherit;
            white-space: nowrap;
        }


        .nav-element-center-cus{
            align-items: center;
        }

        .font-weight-4{
            font-weight: 400;
        }

        .child-block-style{
            background-color: #3F51D4;
        }

        .font-vw-1{
            font-size: 1vw !important;
        }

        .font-vw-2{
            font-size: 2vw !important;
        }

        .nav-child-full{
            margin-right: 2%;
            margin-left: 2%;
        }



        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #f5f5f5;
        }


        
    </style>


</head>
<body>
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand font-weight-4" href="home.php"><i class="fas fa-subway"></i> BOOKit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">

        <ul class="navbar-nav ml-auto nav-flex-icons nav-element-center-cus">
            <li class="nav-item">
                    <a class="nav-link" href="aboutUs.html">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contactUs.php">CONTACT US</a>
            </li>
            <li class="nav-item adminPanel" id='adminlbl'>
                <a class="nav-link" href="adminPanel.php">ADMIN</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                     aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="login.php">SIGN IN</a>
                    <a class="dropdown-item" href="userAccount.php">MY ACCOUNT</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->

<div class="child-block-style nav-child-full">
    <div class="row">
    <div class="col-2">
        <div class="dropdown-T">
            <!--First item-->
            <button class="dropbtn nav-child-color" onclick="redirectToTrainDetails()"><i class="fas fa-train font-vw-2"></i>
                <div onclick="redirectToTrainDetails()" class="font-vw-1">Train Details</div>
            </button>
            <div class="dropdown-content font-vw-1">
                <a href="#">Seat Availability</a>
                <a href="#">Running Status</a>
                <a href="#">Fare calculator</a>
            </div>


        </div>
    </div>
    <div class="col-2">
        <div class="dropdown-T">
            <!--First item-->
            <button class="dropbtn nav-child-color" onclick="redirectToStations()"><i class="fas fa-warehouse font-vw-2"></i>
                <div onclick="redirectToStations()" class="font-vw-1">Stations</div>
            </button>
            <div class="dropdown-content font-vw-1">
                <a href="#">Live Station</a>
                <a href="station.php">Station Detail</a>
            </div>


        </div>
    </div>

    <div class="col-2">
        <div class="dropdown-T">
            <!--First item-->
            <button class="dropbtn nav-child-color" ><i class="fas fa-briefcase font-vw-2"></i>
                <div class="font-vw-1">Tourism</div>
            </button>
            <div class="dropdown-content font-vw-1">
                <a href="pakage.html">Packages</a>
                <a href="rules.html">Rules and Regulations</a>
            </div>


        </div>
    </div>
    <div class="col-2">
        <div class="dropdown-T">
            <!--First item-->
            <button class="dropbtn nav-child-color" onclick="redirectToSeason()"><i class="fas fa-credit-card font-vw-2"></i>
                <div onclick="redirectToSeason()" class="font-vw-1">Seasons</div>
            </button>
            <div class="dropdown-content font-vw-1">
                <a href="#">Seasons Tickets</a>
                <a href="station.php">Seasons Fare calculator</a>
            </div>


        </div>
    </div>
    <div class="col-2">
        <div class="dropdown-T">
            <!--First item-->
            <button class="dropbtn nav-child-color" onclick="redirectToSeason()"><i class="fas fa-calendar-alt font-vw-2"></i>
                <div onclick="redirectToSeason()" class="font-vw-1">Schedule</div>
            </button>
            <div class="dropdown-content font-vw-1">
                <a href="#">Train Schedule</a>
                <a href="#">Train Running Calendar</a>
            </div>


        </div>
    </div>
    <div class="col-2">
        <div class="dropdown-T">
            <!--First item-->
            <button class="dropbtn nav-child-color" onclick="redirectToSeason()"><i class="fas fa-cart-arrow-down font-vw-2"></i>
                <div onclick="redirectToSeason()" class="font-vw-1">Cargo</div>
            </button>
            <div class="dropdown-content font-vw-1">
                <a href="#">Transporting Goods</a>
                <a href="#">Space Availability</a>
                <a href="#">Fare calculator</a>
                <a href="#">Cargo Tracking</a>
            </div>


        </div>
    </div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4 footer">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">FOLLOW US ON:</h5>
                <a href="#" class="font-vw-2"><i class="fab fa-facebook"></i></a>
                <a href="#" class="font-vw-2"><i class="fab fa-google"></i></a>
                <a href="#" class="font-vw-2"><i class="fab fa-twitter-square"></i></a>
                <a href="#" class="font-vw-2"><i class="fab fa-linkedin"></i></a>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">How To</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#" >Refund Rules</a> <br/>
                    </li>
                    <li>
                        <a href="#" >Advertise with us</a> <br/>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="faq.html" >FAQ</a> <br/>
                    </li>
                    <li>
                        <a href="aboutUs.html" >About us</a> <br/>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="Home.php"> BOOKit</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!--cannot read property 'addeventlistener' of null mdb
- This is probably because the script is executed before the page loads. By placing the script at the bottom of the page, I circumvented the problem.
-->
<script src="../../ExternalResources/MDB/js/mdb.min.js"></script>

</body>
</html>