<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="../resources/favicon-train.ico" />
    <title>BOOkit-About Us</title>

    <link rel="stylesheet" type="text/css" href="../fontawesome/css/all.css" />
    <link rel="stylesheet" href="../fontawesome/css/fontawesome.min.css" />

    <link rel="stylesheet" type="text/css" href="../Style/style-custom.css" />
    <link rel="stylesheet" type="text/css" href="../Style/style-custom-nav.css" />

    <link rel="stylesheet" type="text/css" href="../Style/style-aboutUs.css" />

    <script src="../Script/jquery-3.3.1.min.js"></script>
    <script src="../Script/Header.js"></script>

    <script>
        //Jquery function for load navigation to page
        $(function () {
            $("#Header").html(getHeaderMD());
            $("#footerID").html(getFooter());
        });
    </script>
</head>

<body>
    <!--Navigation Bar -->
    <div id="Header"></div>

    <!--Page Content -->
    <div style="height:100%">
    
        <img src="../resources/TrainAboutUsImg.jpg" class="responsive" i>

        <h3 align=center> About BOOkit</h3>
        <hr width=20% align=center>

        <p> Sri Lanka consist of around 396 trains with 67 Long-Distance and 16 Intercity trains and convoys about 3.72 million travels everyday.
            In Sri Lanka there are 1561km of rail tracks, 72 locomotives, 78  power sets, 565 carrages and the signaling systems. By now, it has a work force of 17,634.</p>
        
        <p> There are several train types. They are, <br>
            1) Intercity expresss    : among the quickest trains, with few stops (need to get a specific ticket for these trains, moreover ticket cost is more higher than the ordinary tickets)<br>
            2) Night Mail            : Cargo transport night-time expresss trains.<br>
            3) Express               : Link Colombo and other important  and most crowded transport cities.<br>
            4) Rural                 : General trains which stops at almost every  station.<br> </p>

        <p> As a Private Train Reservation Company,  we are willng to provide the best and the most convenient booking experience to our valuble customers in a very favorable manner.<br>

        <div id="div-last">
            <h2 id="h2-align" class="div-text"> Awards </h2>
            <h4 id="h4-align" class="div-text">
            <div class="row">
                <div class="column">
            </div>
                <div class="column">
                    <div id="div-align">
                        BOOkit wins Diamond Awards in Company of the Year at XXXX Awards 2019<br/>
                        BOOKit wins Gold Awards Comapny of the Year at XXXX Awards 2018<br/>
                        BOOKit wins the Award of The Best Railway Booking System of the Year 2018<br/>
                        BOOkit wins the FT of Fintech Awards<br/>
                        BOOKit wins Gold Awards Comapny of the Yearat XXXX Awards 2017<br/>
                        BOOkit is the winner of the Sri Lanka Express IT Awards in Mobility Solutions 2017<br/>
                        BOOKit is the winner at the MMA Smarties for mCommerce<br/>
                    </div>
                </div>
                <div class="column">
                </div>
                </div>
        </div>

    </div>

    <!--Footer -->
    <footer id="footerID"></footer>
</body>

</html>
