<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="../resources/favicon-train.ico" />
    <title>BOOkit-Home</title>

    <link rel="stylesheet" type="text/css" href="../fontawesome/css/all.css">
    <link rel="stylesheet" href="../fontawesome/css/fontawesome.min.css">

    <link rel="stylesheet" type="text/css" href="../Style/style-custom.css">
    <link rel="stylesheet" type="text/css" href="../Style/style-custom-nav.css">

</head>

<body>
    <div class="div-parent">
        <div class="navbar">
            <a href="#home" class="nav-logo-text"><i class="fas fa-subway"></i>&nbsp BOOKit</a>

            <div class="dropdown pull-right">
                <button class="dropbtn"><i class="fas fa-user"></i>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <a href="#news" class="pull-right font-Sego nav-item-font support-logo nav-space"></a>
            <a href="#news" class="pull-right font-Sego nav-item-font nav-space">CONTACT US</a>
            <a href="#news" class="pull-right font-Sego nav-item-font nav-space">ABOUT US</a>
            
        </div>
        
        <div class="navbar navbar-child-style child-nav-color">
                <div class="dropdown ">
                        <button class="dropbtn nav-child-color"><i class="fas fa-user"></i>
                            <div style="font-size: 22px;">Train Details</div>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                
            </div>

    </div>



</body>

</html>