<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../resources/favicon-train.ico" />
    <title>BOOkit-Home</title>

    <link rel="stylesheet" type="text/css" href="../fontawesome/css/all.css">
    <link rel="stylesheet" href="../fontawesome/css/fontawesome.min.css">

    <link rel="stylesheet" type="text/css" href="../Style/style-custom.css">
    <link rel="stylesheet" type="text/css" href="../Style/style-custom-nav.css">

    <link rel="stylesheet" type="text/css" href="../Style/style-login.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="../Script/jquery-3.3.1.min.js"></script>
    <script src="../Script/Header.js"></script>

    <script>

        //Jquery function for load nevigation to page
        $(function () {
            $('#Header').html(getHeaderLG());
            $('#footerID').html(getFooter());
        });
    </script>
</head>

<body>
    <!--Navigation Bar -->
    <div id='Header'>
    </div>

    <!--Make the gradient to background-->
    <div id="grad" style="text-align:center;">
            <br>
            <br>
            <br>
            <br>
            <br>
        
        <!--Make a rectangle-->
        <div id="cornerrec" style="text-align:center;">

            <form >
                <div class="form-inline font-Sego">
                        <div class="col-md-3">
                                <i class="fas fa-user-tie font-size-6"></i>
                        </div>
                        <div class="col-md-3">
                                <label for="txtContact">User name or email:</label>
                                <input type="text" id="txtContact" name="txtbFrom"> <br>

                                <label for="txtContact" style="margin-top: 5%;">Password:</label>
                                <input type="text" id="txtContact" name="txtbFrom">
                        </div>
                </div>
                
            </form>
    </div>

    <footer id="footerID">

    </footer>

</body>

</html>