<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../resources/favicon-train.ico" />
    <title>BOOkit-Home</title>

    <link rel="stylesheet" type="text/css" href="../fontawesome/css/all.css">
    <link rel="stylesheet" href="../fontawesome/css/fontawesome.min.css">

    <link rel="stylesheet" type="text/css" href="../Style/style-custom.css">
    <link rel="stylesheet" type="text/css" href="../Style/style-custom-nav.css">

    <link rel="stylesheet" type="text/css" href="../Style/style-login.css">

    <script src="../Script/jquery-3.3.1.min.js"></script>
    <script src="../Script/Header.js"></script>

    <script>

        //Jquery function for load nevigation to page
        $(function () {
            $('#Header').html(getHeaderLG());
            $('#footerID').html(getFooter());
        });
    </script>
</head>

<body>
    <!--Navigation Bar -->
    <div id='Header'>
    </div>

    <div id="grad" style="text-align:center;">
            <br>
            <br>
            <br>
            <br>
            <br>
        <div id="cornerrec" style="text-align:center;">
         
            <div id="image" style="font-size: 30vh;">

                    <i class="fas fa-user-tie"></i>
                      </div>
                
                         <div id="vl">
                          </div>

                <div id="goobut">
                        <i class="fab fa-google"></i>
                            Sign in with Google >>
                          </div>
                <div class="filform">
                    <form>
                        * Username or email<br>
                        
                        * Password<br>
                    </form>
                </div>
                
             </div>
    </div>

    <footer id="footerID">

    </footer>

</body>

</html>