<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../resources/favicon-train.ico" />
    <title>BOOkit-Register</title>

    <link rel="stylesheet" type="text/css" href="../fontawesome/css/all.css">
    <link rel="stylesheet" href="../fontawesome/css/fontawesome.min.css">

    <link rel="stylesheet" type="text/css" href="../Style/style-custom.css">
    <link rel="stylesheet" type="text/css" href="../Style/style-custom-nav.css">

    <link rel="stylesheet" type="text/css" href="../Style/register1.css">


    <script src="../Script/jquery-3.3.1.min.js"></script>
    <script src="../Script/Header.js"></script>

    <script>

        //Jquery function for load nevigation to page
        $(function () {
            $('#Header').html(getHeaderLG());
            $('#footerID').html(getFooter());
        });
    </script>
</head>

<body>
    <!--Navigation Bar -->
    <div id='Header'></div>
        <!--registration form-->
      <br><br><br><br>

        <div class="container">
            <div class="row">
                <div class="square">
                    <div class="column1">
                            <h1 id="hed1"> <i class="fas fa-subway" id="ticon"></i><br>Welcome</h1>
                            <div>
                                <p id="text1">You are 30 <br> seconds away <br> from <br> reserving <br> your train <br> seat</p>
                            </div>
                           
                            <button class="button2"><a href="./login.html"></a> Login </button>
                            

                    </div>
                    
                    <div class="column2">
                           
                       <div class="square1 mt-5" class="column-two">
                                   
                              
                      </div>

                    </div>
                </div>
            </div>
          
        </div>



    <footer id="footerID">

    </footer>

</body>

</html>