<!DOCTYPE html>
<html>
	<head>
	
		<link rel="stylesheet" type="text/css" href="../Style/style-user_account.css" />
		<title> BOOKit-User Account </title>
	</head>
		
	<body>
		<div class="row">
		<div class="column-custom-n left">
			<img src = "../resources/pic.jpg" width = "180px" height = "180px">
			<div class = "edit">
			<a href = "new 1.html"><h3><b> Edit Profile </b></h3></a>
			</div>
			<button class="button-cus">Message</button>
			
		</div>
		<div class="vl"></div>

		
		<div class="column-custom-n right">
			<div class = "ab"><h3> Name: S.S.C.G.Perera </h3>
			<h3>Profession: Assistant Lectures</h3>	</name>
			</name></div>
			<br/>
			
			<h3><u>Contact Information</u></h3>
			<div class = "ab"><h3>phone : 077-123456789</h3>
			<h3>email : shane4@gmail.com</h3>
			<h3>address : No.07, Colombo Road, Mount Lavinia.</h3>
			</br></div>
			
			<h3><u>Basic Information</u></h3>
			<div class = "ab"><h3>Birthday : 01/04/97</h3>
			<h3>Gender : Male </h3>
			</div>
			
	
			<h3><u>Recent Activities</u></h3>
			<table>
			<div class = "ab"><h3>
				<td><ol>
					<li>Discription &nbsp&nbsp Time &nbsp&nbsp date &nbsp&nbsp <input type = "button" value = "view"></li>
					<li>Discription &nbsp&nbsp Time &nbsp&nbsp date &nbsp&nbsp <input type = "button" value = "view"></li>
					<li>Discription &nbsp&nbsp Time &nbsp&nbsp date &nbsp&nbsp <input type = "button" value = "view"></li>
				</ol></h3></table>
				
			<h3><u>Login Activities</u></h3>
			<div class = "ab"><h3>First Login: Date</h3>
			<h3>Last Login: Date</h3> 
			</div>
	</div>
	
	</body>
	
</html>	