<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../resources/favicon-train.ico" />
    <title>BOOkit-Home</title>

    <link rel="stylesheet" type="text/css" href="../fontawesome/css/all.css">
    <link rel="stylesheet" href="../fontawesome/css/fontawesome.min.css">

    <link rel="stylesheet" type="text/css" href="../Style/style-custom.css">
    <link rel="stylesheet" type="text/css" href="../Style/style-custom-nav.css">

    <link rel="stylesheet" type="text/css" href="../Style/style-login.css">


    <link rel="stylesheet" type="text/css" href="../Style/style-pakage.css">

    <script src="../Script/jquery-3.3.1.min.js"></script>
    <script src="../Script/Header.js"></script>

    <!--mdb-->
    <script src="../ExternalResources/MDB/js/popper.min.js"></script>
    <link href="../ExternalResources/MDB/css/mdb.min.css" rel="stylesheet">


    <!--Boostrap-->
    <link href="../ExternalResources/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="../ExternalResources/bootstrap-4.3.1/js/bootstrap.min.js"></script>

    <script>

        //Jquery function for load nevigation to page
        $(function () {
            $('#Header').html(getHeaderMD());
            $('#footerID').html(getFooter());
        });

    </script>
</head>

<body>
    <!--Navigation Bar -->
    <div id='Header'>
    </div>
    
    <div style="height:100%">
        <!-- Contenedor -->
    <div class="pakage-parent">
            <div class="pricing-wrapper clearfix">
                    <!-- Titulo -->
                    <h1 class="pricing-table-title">Pakages <a href="#">bookit.com</a></h1>
    
            <div class="pricing-table">
                <h3 class="pricing-title">General</h3>
                <div class="price">$500<sup>/ days</sup></div>
                <!-- pakage content -->
                <ul class="table-list">
                    <li>10 person <span>Include</span></li>
                    <li>Lunch & dinner <span>10 person</span></li>
                    <li>Car hire <span>to your residence</span></li>
                    <li>Hotel availability <span class="unlimited">4star</span></li>
                    <li>Gallery availability <span class="unlimited">limited</span></li>
                    <li>Bedrooms <span>include</span></li>
                </ul>
                <!-- Contratar / Comprar -->
                <div class="table-buy">
                    <p>$500<sup>/ 20days</sup></p>
                    <a href="#" class="pricing-action">Select</a>
                </div>
            </div>
            
            <div class="pricing-table recommended">
                <h3 class="pricing-title">Premium</h3>
                <div class="price">$1000<sup>/ days</sup></div>
                <!-- Pakage content -->
                <ul class="table-list">
                    <li>15 person <span>inclde</span></li>
                    <li>20% discount <span>for credit cards</span></li>
                    <li>Lunch & dinner <span>Afternoon Visit Remarkable Places</span></li>
                    <li>Hotel availability <span class="unlimited">5star</span></li>
                    <li>A/C <span class="unlimited">unlimited</span></li>
                    <li>Bedrooms <span>luxury</span></li>
                </ul>
                <!-- Contratar / Comprar -->
                <div class="table-buy">
                    <p>$1000<sup>/60days</sup></p>
                    <a href="#" class="pricing-action">select</a>
                </div>
            </div>
    
            <div class="pricing-table">
                <h3 class="pricing-title">Ultimate</h3>
                <div class="price">$300<sup>/ days</sup></div>
                <!-- Lista de Caracteristicas / Propiedades -->
                <ul class="table-list">
                    <li>8 person<span>include</span></li>
                    <li>10% discount <span>for asian countries</span></li>
                    <li>Lunch & dinner <span>lowerst price</span></li>
                    <li>Hotel availability <span class="unlimited">3star</span></li>
                    <li>A/C & non A/C <span class="unlimited">limited</span></li>
                    <li>Bedrooms<span>include</span></li>
                </ul>
                <!-- Contratar / Comprar -->
                <div class="table-buy">
                    <p>$300<sup>/10days</sup></p>
                    <a href="#" class="pricing-action">Select</a>
                </div>
            </div>
        </div>
    </div>

        





    <footer id="footerID">

        </footer>

    </div>

    <!--cannot read property 'addeventlistener' of null mdb
    - This is probably because the script is executed before the page loads. By placing the script at the bottom of the page, I circumvented the problem.
    -->
    <script src="../ExternalResources/MDB/js/mdb.min.js"></script>
    
    </body>
    
    </html>