<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/x-icon" href="../resources/favicon-train.ico" />

        <!--Fontawesome-->
        <link rel="stylesheet" type="text/css" href="../fontawesome/css/all.css" />
        <link rel="stylesheet" href="../fontawesome/css/fontawesome.min.css" />
        
        <!--Navigation bar and footer-->
        <link rel="stylesheet" type="text/css" href="../Style/style-custom.css" />
        <link rel="stylesheet" type="text/css" href="../Style/style-custom-nav.css" />

        <!--style sheets for this page only-->
		<link rel="stylesheet" type="text/css" href="../Style/reset.css" />

		<script src="../Script/jquery-3.3.1.min.js"></script>
        <!--Herder js file-->
        <script src="../Script/Header.js"></script>

    <!--mdb-->
    <script src="../ExternalResources/MDB/js/popper.min.js"></script>
    <link href="../ExternalResources/MDB/css/mdb.min.css" rel="stylesheet">


    <!--Boostrap-->
    <link href="../ExternalResources/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="../ExternalResources/bootstrap-4.3.1/js/bootstrap.min.js"></script>

        <script>
                //Jquery function for load navigation to page
                $(function () {
                        $("#Header").html(getHeaderMD());
                        $("#footerID").html(getFooter());
                });

                
        </script>

        <title>BOOkit-Reset Password</title>
</head>

<body>
        <!--Navigation Bar -->
        <div id="Header"></div>

        <!--Page Content -->
        <div style="height:100%">
				
			<div id="divCenter" class="font-Sego">

				<form action="">
					<div style="margin-top: 10%;">
						<label for="txEmail">Email</label>
						<input type="email" id="txEmail" name="txtEmail">
					</div>

					<input type="submit" class="button-T" value="Send password reset Link">

				</form>

			</div>

        </div>

        <!--Footer -->
        <footer id="footerID"></footer>

        <!--cannot read property 'addeventlistener' of null mdb
         - This is probably because the script is executed before the page loads. By placing the script at the bottom of the page, I circumvented the problem.
         -->
        <script src="../ExternalResources/MDB/js/mdb.min.js"></script>

</body>

</html>