<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../resources/favicon-train.ico" />
    <title>BOOkit-Rules and Regulations</title>

    <link rel="stylesheet" type="text/css" href="../fontawesome/css/all.css">
    <link rel="stylesheet" href="../fontawesome/css/fontawesome.min.css">

    <link rel="stylesheet" type="text/css" href="../Style/style-custom.css">
    <link rel="stylesheet" type="text/css" href="../Style/style-custom-nav.css">

<!--    <link rel="stylesheet" type="text/css" href="../Style/rules.css">-->


    <script src="../Script/jquery-3.3.1.min.js"></script>
    <script src="../Script/Header.js"></script>

    <!--mdb-->
    <script src="../ExternalResources/MDB/js/popper.min.js"></script>
    <link href="../ExternalResources/MDB/css/mdb.min.css" rel="stylesheet">


    <!--Boostrap-->
    <link href="../ExternalResources/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="../ExternalResources/bootstrap-4.3.1/js/bootstrap.min.js"></script>

    <script>

        //Jquery function for load nevigation to page
        $(function () {
            $('#Header').html(getHeaderLG());
            $('#footerID').html(getFooter());
        });
    </script>
</head>

<body>
    <!--Navigation Bar -->
    <div id='Header'></div>
        <!--registration form-->
      <br><br><br><br>

        <div class="container-T">
            <div class="row">
                <div class="square">
                    <h1 class="head1"><u> Bookit Rules and Regulations </u></h1>
                    <p class="text-T"><i class="fas fa-train"></i> BOOkit train ticket reservations new rules: Now, tickets can be booked up to 120 days in advance and a verified user can book 100 tickets every month.</p>
                    <img src="../resources/train01.jpg" id="train01"><br><br>
                    <p class="text-T"><i class="fas fa-caret-right"></i> BOOKit ticket reservations rules: <br><br> The Srilankan Railway Catering and Tourism Corporation (SLCTC) has revised its rules for booking train tickets online. The Srilankan Railways, world’s one of best railway network, has brought in changes in an effort to aid travellers. Now, tickets can be booked up to 120 days in advance, an verified user can book 100 tickets every month and passengers can now claim refunds if the train fails to depart within three hours of the scheduled departure. <br><br>
                        Now, online ticket booking has been made time sensitive. This means, 3 minutes has been allotted to fill up passenger details. 
                        <br><br>Here are 10 BOOKit rules to remember while making reservations:

                        <br><br> <i class="fas fa-caret-right"></i>
                        1. A passenger can book online tickets 120 days in advance, excluding the date of journey. 60 tickets can be booked monthly from one user ID, and 100 if the user is verified. A maximum of two tickets can be booked from one ID during 8.00 am - 10.00pm am.
                        
                        

                         <br><br><i class="fas fa-caret-right"></i>
                        2. 1st class tickets can be booked a day before travel, starting 10 am for AC coaches and 11 am for sleeper class.
                        <br> <br><i class="fas fa-caret-right"></i>
                        3. From a single user ID, only two 1st class tickets can be booked in any trains from 8:00 am to 12:00 noon.
                        
                        <br> <br><i class="fas fa-caret-right"></i>

                        4. In case of 1st class bookings, a maximum of six berths/seats can be booked at a time for a specified journey between any two stations served by the train subject to distance restrictions in force.
                        <br> <br><i class="fas fa-caret-right"></i>

                        5. Single page or quick book services are not available between 8 am and 12 noon. One user can have only one log-in session at a time. Captcha is available at login, passenger detail and payment web pages.
                        
                        <br> <br><i class="fas fa-caret-right"></i>

                        6. Agents are allowed to book tickets between 8 am and 8.30 am, 10 am and 10.30 am and, 11 am and 11.30 am. Authorised travel agents cannot book 1st class tickets during the first 30 minutes after online reservation opens. This is to prevent them from booking several tickets in a short span, and give passengers time to book tickets for themselves.
                        <br> <br><i class="fas fa-caret-right"></i>
                        7. Online ticket booking has been made time sensitive. The standard time to fill up passenger details is 3 minutes. The minimum input time for Captcha on passenger details page and payment page is 5 seconds.
                        <br> <br><i class="fas fa-caret-right"></i>

                        8. For payment through net-banking, subscribers of all banks will now have to verify themselves with a one-time password (OTP).
                        <br> <br><i class="fas fa-caret-right"></i>
                        9.A passenger can claim complete refund of train fare and extra charges, if the train fails to leave within three hours of its scheduled time.
                        <br> <br><i class="fas fa-caret-right"></i>

                        10.If a train's route is diverted and a passenger doesn't want to travel on that route, he can ask for a full refund.
                        <br> <br><i class="fas fa-caret-right"></i>

                       11.A passenger can also claim a full refund if he/she is shifted to a lower class and he doesn't want to travel in that class.
                       <br> <br><i class="fas fa-caret-right"></i>

                       12.Authorised travel agents have been barred from booking tickets during the first 30 minutes after the reservation opens.

                        </p>

                    </div>
                </div>
            </div>
          
        </div>



    <footer id="footerID">

    </footer>

    <!--cannot read property 'addeventlistener' of null mdb
    - This is probably because the script is executed before the page loads. By placing the script at the bottom of the page, I circumvented the problem.
    -->
    <script src="../ExternalResources/MDB/js/mdb.min.js"></script>

</body>

</html>