
<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/x-icon" href="../resources/favicon-train.ico" />

        <!--Fontawesome-->
        <link rel="stylesheet" type="text/css" href="../fontawesome/css/all.css" />
        <link rel="stylesheet" href="../fontawesome/css/fontawesome.min.css" />
        
        <!--Navigation bar and footer-->
        <link rel="stylesheet" type="text/css" href="../Style/style-custom.css" />
        <link rel="stylesheet" type="text/css" href="../Style/style-custom-nav.css" />

        <!--style sheets for this page only-->
        <link rel="stylesheet" type="text/css" href="../Style/style-train-details.css" />

        <!--jquery-->
        <script src="../Script/jquery-3.3.1.min.js"></script>
        <!--jquery UI-->
        <script src="../Script/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="../Style/jquery-ui.css" />

        <!--Jquery confirm-->
        <script src="../Script/jquery-confirm.min.js"></script>
        <link rel="stylesheet" href="../Style/jquery-confirm.min.css" />


        <!--Custom combo box plugins-->
        <script src="../Script/custom-combo.js"></script>
        <link rel="stylesheet" type="text/css" href="../Style/style-custom-combo.css" />

        <!--Herder js file-->
        <script src="../Script/Header.js"></script>

        <!--mdb-->
        <script src="../ExternalResources/MDB/js/popper.min.js"></script>
        <link href="../ExternalResources/MDB/css/mdb.min.css" rel="stylesheet">


        <!--Boostrap-->
        <link href="../ExternalResources/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="../ExternalResources/bootstrap-4.3.1/js/bootstrap.min.js"></script>

        <script>
                //Jquery function for load navigation to page
                $(function () {
                        $("#Header").html(getHeaderLG());
                        $("#footerID").html(getFooter());
                });

                $(document).ready(function () {

                        //-------------------------js methods-------------------------------------------

                        //initialize combo box
                        initializeCombo();

                        //jquery ui calender
                        $('#txtDate').datepicker({
                                minDate: "0",
                                maxDate: "12/31/2019",
                                changeMonth: true,
                                changeYear: true,
                                showButtonPanel: true,
                                dateFormat: "m/d/yy"
                        });


                        
                });

                




        </script>

        <title>BOOkit-Train Details</title>
</head>

<body>
        <!--Navigation Bar -->
        <div id="Header"></div>

        <!--Page Content -->
        <div style="height:100%">
                <form action="">
                        <!--Search bar -->
                        <div class="row-T">
                                <div class="column-general round-coner font-Sego form-inline-T"
                                        style="background-color:#3F51D4;">
                                        <form action="">
                                        <div class="div-custom">
                                                <label for="txtTrainFrom" class="color-white">Search your trains by train name or train code</label>
                                                <input type="text" id="txtTrainFrom" name="txtbFrom">
                                        </div>
                                        <div class="div-custom-2">
                                                <button class="button-search" style="margin-left: 2%;">Search</button>
                                        </div>
                                    </form>
                                </div>
                        </div>
                </form>
                <div>
                        <!--Filter box-->
                        <div class="row-T">
                                <div class="column-first round-coner font-Sego"
                                        style="background-color:white; border-style:ridge;padding-bottom: 2% ">
                                        <h2>Refine Results</h2>
                                        <hr>
                                        <h3>Train Type</h3>
                                        <select class="custom-select">
                                                        <option selected>Select Type :</option>
                                                        <option value="1">EXPRESS</option>
                                                        <option value="2">COLOMBO COMMUTER</option>
                                                        <option value="3">LONG DISTANCE</option>
                                                        <option value="3">NIGHT MAIL</option>
                                        </select>
                
                                        <h3></br>Train Class</h3>
                                        <select class="browser-default custom-select">
                                                        <option selected>Select Class :</option>
                                                        <option value="1">CLASS A</option>
                                                        <option value="2">CLASS B</option>
                                                        <option value="3">CLASS C</option>
                                        </select>                        


                                                <div id="grpAvailable">
                                                        <h3></br>Facilities</h3>
                                                        <label class="container-T">AC
                                                                <input type="radio" checked="checked"
                                                                        name="grpAvailable">
                                                                <span class="checkmark"></span>
                                                        </label>

                                                        <label class="container-T">Non-AC
                                                                <input type="radio" name="grpAvailable">
                                                                <span class="checkmark"></span>
                                                        </label>
                                                </div>

                                                <div id="grpJType">
                                                        <h3>Canteens</h3>
                                                        <label class="container-T">Yes
                                                                <input type="radio" checked="checked" name="grpJType">
                                                                <span class="checkmark"></span>
                                                        </label>

                                                        <label class="container-T">No
                                                                <input type="radio" name="grpJType">
                                                                <span class="checkmark"></span>
                                                        </label>
                                                </div>

                                        </form>
                                </div>
                                <div class="column-two round-coner font-Sego" style="background-color:#EEEEEE;">
                                        <div class="form-inline-T ">
                                                <i class="fas fa-train font-lg"></i>
                                                <h3 style="margin-left: 1%;">Trains</h3>
                                        </div>
                                        <hr style="margin-top: 1%;">
                                        
                                        <div id="divTrainList">
                                                <div class="border-groove div-parent-cus form-inline-T">
                                                    <div class="col-sm-1-T ">
                                                            <i class="fas fa-subway medium-font-size-icon margin-left-cus"></i> <br>
                                                            <label id="lblTrainName_1" class="color-white margin-left-cus-sm"><b>Ruhunu Kumari</b></label> <br>
                                                            <label id="lblTrainType_1" class="lable-train-type color-white margin-left-cus-sm"><b>Express Train</b></label> <br>
                                                            <label id="lblTrainNo_1" class="lable-train-type color-white margin-left-cus-sm"><b>Train No - 23</b></label> <br>
                                                            <label id="lblTrainNo_1" class="lable-train-type color-white margin-left-cus-sm"><b>No of Cells - 6</b></label> <br>
                                                    </div>
                                                    <div class="col-sm-2-T">
                                                            <table>
                                                                    <tr>
                                                                    <th>Class</th>
                                                                    <th>No of seats</th>
                                                                    <th>AC or Non AC</th>
                                                                    </tr>
                                                                    <tr>
                                                                    <td>Class A</td>
                                                                    <td>150</td>
                                                                    <td>Yes</td>
                                                                    </tr>
                                                                    <tr>
                                                                    <td>Class B</td>
                                                                    <td>200</td>
                                                                    <td>No</td>
                                                                    </tr>
                                                                    <tr>
                                                                    <td>Class C</td>
                                                                    <td>200</td>
                                                                    <td>No</td>
                                                                    </tr>
                                                                    
                                                                  </table>
                                                    </div>
                                                    <div class="col-sm-1-T">
                                                        <div class="info-cus">
                                                            <i class="fas fa-info-circle"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="border-groove div-parent-cus form-inline-T">
                                                        <div class="col-sm-1-T ">
                                                                <i class="fas fa-subway medium-font-size-icon margin-left-cus"></i> <br>
                                                                <label id="lblTrainName_1" class="color-white margin-left-cus-sm"><b>Rajarata Rajina</b></label> <br>
                                                                <label id="lblTrainType_1" class="lable-train-type color-white margin-left-cus-sm"><b>Express Train</b></label> <br>
                                                                <label id="lblTrainNo_1" class="lable-train-type color-white margin-left-cus-sm"><b>Train No - 23</b></label> <br>
                                                                <label id="lblTrainNo_1" class="lable-train-type color-white margin-left-cus-sm"><b>No of Cells - 6</b></label> <br>
                                                        </div>
                                                        <div class="col-sm-2-T">
                                                                <table>
                                                                        <tr>
                                                                        <th>Class</th>
                                                                        <th>No of seats</th>
                                                                        <th>AC or Non AC</th>
                                                                        </tr>
                                                                        <tr>
                                                                        <td>Class A</td>
                                                                        <td>150</td>
                                                                        <td>Yes</td>
                                                                        </tr>
                                                                        <tr>
                                                                        <td>Class B</td>
                                                                        <td>200</td>
                                                                        <td>No</td>
                                                                        </tr>
                                                                        <tr>
                                                                        <td>Class C</td>
                                                                        <td>200</td>
                                                                        <td>No</td>
                                                                        </tr>
                                                                        
                                                                      </table>
                                                        </div>
                                                        <div class="col-sm-1-T">
                                                            <div class="info-cus">
                                                                <i class="fas fa-info-circle"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="border-groove div-parent-cus form-inline-T">
                                                            <div class="col-sm-1-T ">
                                                                    <i class="fas fa-subway medium-font-size-icon margin-left-cus"></i> <br>
                                                                    <label id="lblTrainName_1" class="color-white margin-left-cus-sm"><b>Podi Manike</b></label> <br>
                                                                    <label id="lblTrainType_1" class="lable-train-type color-white margin-left-cus-sm"><b>Express Train</b></label> <br>
                                                                    <label id="lblTrainNo_1" class="lable-train-type color-white margin-left-cus-sm"><b>Train No - 23</b></label> <br>
                                                                    <label id="lblTrainNo_1" class="lable-train-type color-white margin-left-cus-sm"><b>No of Cells - 6</b></label> <br>
                                                            </div>
                                                            <div class="col-sm-2-T">
                                                                    <table>
                                                                            <tr>
                                                                            <th>Class</th>
                                                                            <th>No of seats</th>
                                                                            <th>AC or Non AC</th>
                                                                            </tr>
                                                                            <tr>
                                                                            <td>Class A</td>
                                                                            <td>150</td>
                                                                            <td>Yes</td>
                                                                            </tr>
                                                                            <tr>
                                                                            <td>Class B</td>
                                                                            <td>200</td>
                                                                            <td>No</td>
                                                                            </tr>
                                                                            <tr>
                                                                            <td>Class C</td>
                                                                            <td>200</td>
                                                                            <td>No</td>
                                                                            </tr>
                                                                            
                                                                          </table>
                                                            </div>
                                                            <div class="col-sm-1-T">
                                                                <div class="info-cus">
                                                                    <i class="fas fa-info-circle"></i>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="border-groove div-parent-cus form-inline-T">
                                                                <div class="col-sm-1-T ">
                                                                        <i class="fas fa-subway medium-font-size-icon margin-left-cus"></i> <br>
                                                                        <label id="lblTrainName_1" class="color-white margin-left-cus-sm"><b>Badulu Kumari</b></label> <br>
                                                                        <label id="lblTrainType_1" class="lable-train-type color-white margin-left-cus-sm"><b>Express Train</b></label> <br>
                                                                        <label id="lblTrainNo_1" class="lable-train-type color-white margin-left-cus-sm"><b>Train No - 23</b></label> <br>
                                                                        <label id="lblTrainNo_1" class="lable-train-type color-white margin-left-cus-sm"><b>No of Cells - 6</b></label> <br>
                                                                </div>
                                                                <div class="col-sm-2-T">
                                                                        <table>
                                                                                <tr>
                                                                                <th>Class</th>
                                                                                <th>No of seats</th>
                                                                                <th>AC or Non AC</th>
                                                                                </tr>
                                                                                <tr>
                                                                                <td>Class A</td>
                                                                                <td>150</td>
                                                                                <td>Yes</td>
                                                                                </tr>
                                                                                <tr>
                                                                                <td>Class B</td>
                                                                                <td>200</td>
                                                                                <td>No</td>
                                                                                </tr>
                                                                                <tr>
                                                                                <td>Class C</td>
                                                                                <td>200</td>
                                                                                <td>No</td>
                                                                                </tr>
                                                                                
                                                                              </table>
                                                                </div>
                                                                <div class="col-sm-1-T">
                                                                    <div class="info-cus">
                                                                        <i class="fas fa-info-circle"></i>
                                                                    </div>
                                                                </div>
                                                            </div>

                                        </div>
                                </div>
                        </div>
                </div>

        </div>

        <!--Footer -->
        <footer id="footerID"></footer>

        <!--cannot read property 'addeventlistener' of null mdb
- This is probably because the script is executed before the page loads. By placing the script at the bottom of the page, I circumvented the problem.
-->
        <script src="../ExternalResources/MDB/js/mdb.min.js"></script>

</body>

</html>