<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/x-icon" href="../../resources/favicon-train.ico" />

        <!--Fontawesome-->
        <link rel="stylesheet" type="text/css" href="../../fontawesome/css/all.css" />
        <link rel="stylesheet" href="../../fontawesome/css/fontawesome.min.css" />
        
        <!--Navigation bar and footer-->
        <link rel="stylesheet" type="text/css" href="../../Style/style-custom.css" />
        <link rel="stylesheet" type="text/css" href="../../Style/style-custom-nav.css" />

        <!--style sheets for this page only-->
        <link rel="stylesheet" type="text/css" href="../../Style/style-TicketSearch.css" />

        <!--jquery-->
        <script src="../../Script/jquery-3.3.1.min.js"></script>
        <!--jquery UI-->
        <script src="../../Script/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="../../Style/jquery-ui.css" />


        <!--Custom combo box plugins-->
        <script src="../../Script/custom-combo.js"></script>
        <link rel="stylesheet" type="text/css" href="../../Style/style-custom-combo.css" />

        <!--Herder js file-->
        <script src="../../Script/Header.js"></script>

        <script>
            function addNewReview(){
                        var review = $.trim($("#txtareaReview").val());
                        var reviewTitle = $.trim($("#txtareaTitle").val());

                        console.log(review);
                        if(review == '' || reviewTitle == ''){
                                return;
                        }

                        var content = '<div class="ful-width review-parent form-inline-T font-Sego"> <div class="column-Review-left"> <div style="font-size: 4em;"> <i class="fas fa-user-tie"></i> </div><div> By <a href="" >John</a> </div></div><div class="column-Review-right"> <h2 id="review_1">'+reviewTitle+'</h2> <p> '+review+'</p></div></div>';

                        document.getElementById("div_review_parent").innerHTML = document.getElementById("div_review_parent").innerHTML + content;
                }

        </script>

        
        <title>BOOkit-Review</title>
</head>

<body>
        <div style="font-size: 60%;" >
            <div id="div_review_parent">
            <div class="ful-width review-parent form-inline-T font-Sego">
                <div class="column-Review-left">
                    <div style="font-size: 4em;">
                        <i class="fas fa-user-tie"></i>
                    </div>
                    <div>
                        By <a href="" >John</a>
                    </div>
                </div>
                <div class="column-Review-right">
                    <h2 id="review_1">My awesome review</h2>
                    <p id="reviewDescription_1">
                            Train is good but was too much crowded due to wedding season and due to this no cleanliness was there 
                            and before blaming cleaning staff it's the passengers who needs to take care for this.
                            Groundnuts, plastics, paper, cups were thrown below the seat.
                    </p>
                </div>
            </div>

            <div class="ful-width review-parent form-inline-T font-Sego">
                    <div class="column-Review-left">
                        <div style="font-size: 4em;">
                            <i class="fas fa-user-tie"></i>
                        </div>
                        <div>
                            By <a href="" >John</a>
                        </div>
                    </div>
                    <div class="column-Review-right">
                        <h2 id="review_1">My awesome review</h2>
                        <p id="reviewDescription_1">
                                Train is good but was too much crowded due to wedding season and due to this no cleanliness was there 
                                and before blaming cleaning staff it's the passengers who needs to take care for this.
                                Groundnuts, plastics, paper, cups were thrown below the seat.
                        </p>
                    </div>
                </div>
            </div>
            <div class="ful-width review-add form-inline-T font-Sego">
                    <h2 style="text-align: left;color: gray; margin-left: 1%;">Add Review</h2> <br>
                    <textarea id="txtareaTitle" placeholder="Enter Review" cols="30" rows="1"></textarea>
                    <textarea id="txtareaReview" placeholder="Enter Description" cols="30" rows="5"></textarea>
                    <div class="ful-width btn-left">
                            <button id="btnAddReview" class="button-addReview" style="margin-left: 2%;" onclick="addNewReview()"><i class="fas fa-plus"></i> &nbsp;Add</button>
                    </div>
                    
                </div>
            
        </div>
</body>

</html>