.square{
    position: center;
    text-align: left;
    text-decoration-color: aqua;
    width: 95%;
    height: 625px;
    margin-bottom: 10vh;
    display: inline-block;
    margin-left: 8vh;
    background-image: linear-gradient(to right, rgb(11, 2, 90) , rgb(0, 162, 255));
    border-width: thick;
    color: aliceblue;
    border: 1px solid black;
}
.square1{
    position: right; 
    width: 80%;
    height: 550px;
    Background-color: #f0e7e7;
    align-content: center;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;  
    margin-left: 7vh;
    margin-top: 4vh;
    float: right;
    
}
.column1 {
    float: left;
    width: 15%;
    height: 15%;
    font-size: 20px;
    margin-top: 20vh;
    text-align: center;
    color:white;
    margin-bottom: 50%;
    float: top;
    position: absolute;

}

#btnLogin {
    background-color: green;
    color: white;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 15px;
    width: 78%;
  }

  .font-color{
      color: #424242;
  }

  .col-md-3{
    width: 45%;
    padding-left: 3%;
  }

  
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #B2B2B2  ;
    Background-color: #f0e7e7;
  }

  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #B2B2B2  ;
    Background-color: #f0e7e7;
  }
  input[type=email] {
    Background-color: #f0e7e7;
    height: 4vh;
}


  .btn-cus {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 15px;
    margin-left: 2%;
    margin-top: 5%;
    width: 100%;

  }

  


