@charset "utf-8";
/* CSS Document */

.child-block-style-T{
    background-color: #F1F9FF;
}

.ul-cus {
    list-style-type: none;
}

.ul-cus li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}

.search-box-margin{
    margin-left: 7% !important;
    margin-right: 7% !important;
    border-style: groove;
}

.half-font{
    font-size: 1.5vw;
    font-weight: 500;
}

.cus-block-1{
    background-color: white;
}

.cus-font-weight{
    font-size: 1.7vw;
    font-weight: 600;
}

  /*---------------------------carousel custom css---------------------------------*/
  * { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: white;
  margin-bottom: 70px;
}

.carousel-cell {
  width: 70%;
  height: 200px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 400px;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 60%;
  }
}

.margin-bottum-carousel{
    
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: black;
}
.flickity-prev-next-button.no-svg {
  color: black;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}



