@charset "utf-8";
/* CSS Document */

.col-md-3-T{
    width: 45%;
    margin-left: 3%;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .slot {
    height: 25px;
    width: 50px;
    color: #636363;
    display: inline-block;
  }

  .slot2 {
    height: 25px;
    width: 50px;
    color: #636363;
    display: inline-block;
    font-size: 2em;
  }

  .slot3 {
    height: 25px;
    width: 50px;
    color: #636363;
    display: inline-block;
    font-size: 1em;
  }

  .vl {
    border-left: 6px solid  #bbb;
    height: 250px;
    margin-top: -17%;
    margin-bottom: -1%;
    margin-left: 38%
  }

  .v2 {
    border-left: 6px solid  #fff;
    height: 108px;
    margin-top: -1%;
    margin-bottom: -1%;
    margin-left: 1%
  }

  .v3 {
    border-left: 6px solid #bbb;
    height: 450px;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #B2B2B2  ;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #B2B2B2  ;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  .pay-details{
    margin-left: 5%;
    width: 70%;
  }

  .margin-left-space{
    margin-left: 2%;
  }

  .margin-left-space-md{
    margin-left: 5%;
  }

  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }

  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }

